@charset "UTF-8";

/* para aparelho em, ou seja, no modo retrato(portrait) */


body {
    background-image: url(../img/cev-portrait.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}